<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About Tinata'">
  <content has-header="true" has-tabs="true" padding="true">
    <img src="img/tinataSquare.png" class="tinata-logo">
    <h3 class="text-center">Tinata - this is not a travel app!</h3>
    <p>
    Tinata is an app that provides information useful for travellers. But it's not a travel app which tries to trick you into buying expensive holidays. We integrate data from the <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office">UK Foreign & Commonwealth Office</a> and other sources.
    </p>
    <p>
    Built for the <a href="http://hacks.rewiredstate.org/events/fcohack">Rewired State Foreign & Commonwealth Office Hack 2014</a>.
    </p>
  </content>
</view>
